.nav-grid-container{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr ;

   background-color: white;
}

.nav-grid-item {

  padding: 1.5%;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Georgia", serif;
}
